<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h1>Name<% pp @order %></h1>
    <h1>Email <%= @order.email %></h1>
    <h1><%= humanized_money_with_symbol @order.total_cents / 100 %></h1>
<% enhanced_cart.each do |item| %>
          <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
        <% end %>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>


<%# <Order:0x000000011a824810
 id: 2,
 total_cents: 248375,
 created_at: Thu, 06 Jan 2022 20:54:40 UTC +00:00,
 updated_at: Thu, 06 Jan 2022 20:54:40 UTC +00:00,
 stripe_charge_id: "ch_3KF2ypJCMz8Jj8Qe1Q48nSXp",
 email: "kvirani@gmail.com"> %>
